<%= form_with(model: [@blog, @blog.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
